[mysqld]
user = mysql
bind_address = 0.0.0.0
port = 3306
socket = /opt/tmp/percona/5.7.34-37/mysql.sock

datadir = /opt/data/percona/5.7.34-37
basedir = /opt/lib/percona/5.7.34-37
tmpdir = /opt/tmp/percona/5.7.34-37
log-warnings = 2
log-error = /opt/log/percona/5.7.34-37/mysqld.log


symbolic-links = 0
skip-external-locking
skip-name-resolve
default-time-zone = +03:00

thread_handling = one-thread-per-connection

read_only = ON
super_read_only = ON

performance_schema = ON
#query_response_time_stats = ON
sql_mode = 'NO_ENGINE_SUBSTITUTION'

gtid-mode=on
enforce-gtid-consistency=true

# Replication
binlog_format = ROW
binlog-checksum = crc32
binlog_row_image = full
# binlog_group_commit_sync_delay = 3000
# binlog_group_commit_sync_no_delay_count = 10
slave_compressed_protocol = ON
slave_parallel_type = LOGICAL_CLOCK
slave_parallel_workers = 10
slave_preserve_commit_order = ON
slave_transaction_retries = 50
log-bin = mysql-bin
log-bin-index = mysql-bin.index
log_slave_updates = ON
expire_logs_days = 6
max_binlog_size = 512M
sync_binlog = 0

# Skip databases replication
replicate-ignore-db = gateway
replicate-ignore-db = google
replicate-ignore-db = sysbench
replicate-ignore-db = biz_erp_analytics

# Timeouts
wait_timeout = 604800
interactive_timeout = 604800
max_execution_time = 900000

range_optimizer_max_mem_size = 0

long_query_time = 0
slow_query_log_file = /opt/log/percona/5.7.34-37/mysql-slow.log
slow_query_log = ON
log_slow_rate_type = query
log_slow_rate_limit = 1000
log_slow_verbosity = full
log_slow_admin_statements = OFF
log_slow_slave_statements = OFF
slow_query_log_always_write_time = 1
slow_query_log_use_global_control = all
userstat = ON

thread_cache_size = 256

key_buffer_size = 64M
group_concat_max_len = 64K
max_allowed_packet = 512M
table_definition_cache = 2048
table_open_cache = 131072
table_open_cache_instances = 64
open_files_limit = 19584512

# Per connection buffers
sort_buffer_size = 4M
read_buffer_size = 4M
join_buffer_size = 4M
read_rnd_buffer_size = 256K

query_cache_type = 0
query_cache_size = 0

innodb_stats_on_metadata = OFF
innodb_buffer_pool_dump_at_shutdown = ON
innodb_buffer_pool_load_at_startup = ON
innodb_buffer_pool_instances = 64
innodb_lru_scan_depth = 256
innodb_flush_neighbors = 0
innodb_sync_array_size = 512
innodb_buffer_pool_size = 1G
innodb_data_file_path = ibdata1:10M:autoextend
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_force_recovery = 0
innodb_numa_interleave = OFF
innodb_adaptive_hash_index = OFF
innodb_print_all_deadlocks = ON

innodb_io_capacity = 400
innodb_io_capacity_max = 2000

innodb_log_buffer_size = 512M
innodb_log_file_size = 1G
innodb_log_files_in_group = 10

# https://www.percona.com/blog/2011/12/02/kernel_mutex-problem-or-double-throughput-with-single-variable/
#innodb_spin_wait_delay = 1
#innodb_sync_spin_loops = 100

innodb_thread_concurrency = 0
innodb_thread_sleep_delay = 0

innodb_read_io_threads = 16
innodb_write_io_threads = 16

server-id = 35575
slave-type-conversions = ALL_NON_LOSSY,ALL_LOSSY
tmp_table_size = 256M
max_heap_table_size = 256M
max_connections = 21504
max_user_connections = 20480
back_log = 16384
